*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecera{
    width: 100vw;
    height: 12vh;
    padding: 20px;
    background-color: purple;
    color: white;
    display: flex;
    justify-content: space-between;
}

nav{
    margin: 12px 20px;
}

nav a{
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: lightgrey;
}

.principal{
    display: flex;
    background-color: #FFF3E0;
}

.panel{
    width: 200px;
    height: 88vh;
    margin: 0;
    background-color:#2e2e2e;
}

.panel li{
    padding: 10px 20px;
    display: flex;
}

.panel li:hover{
    background-color: rgb(31, 30, 30);
}

.panel ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 180px 5px 15px;
}

.container{
    width: 1100px;
    overflow-y: scroll;
}

.image{
    width: 300px;
    height: 300px;
}

.list{
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 992px){
    .cabecera{
        height: 13vh;
        font-size: 13px;
    }
    .panel{
        height: 87vh;
    }
}

@media screen and (max-width: 768px){
    .cabecera{
        height: 120px;
        font-size: 13px;
    }
    nav a:last-child{
        margin-right: 0;
    }
    .principal{
        display: block;
    }
    .panel{
        width: 100vw;
        height: 300px;
    }
    .container{
        width: 100vw;
    }
}

@media screen and (max-width: 576px){
    .cabecera{
        height: 120px;
        font-size: 13px;
    }
    nav a:last-child{
        margin-right: 0;
    }
    .principal{
        display: block;
    }
    .panel{
        width: 100vw;
        height: 300px;
    }
    .container{
        width: 100vw;
    }
}


